:host {
  display: block;
  min-height: 100vh;
  //background: lightpink;
}

.principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  gap: 1rem;
  //background-color: bisque;
}


.principal-card {
  max-width: 50rem;
  color: blueviolet 
}

.title {
  margin-bottom: 1rem;
}


.done {
  text-decoration: line-through;
  opacity: 0.5;
}
// .add-task {
//   display: flex;
//   gap: 1rem;
//   align-items: center;
//   width: 100%;
//   max-width: 50rem;
// }